

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.game {
  width: 100vw;
  height: 100vw;
  margin: 0;
  background-color: #34495e;
  color: #fff;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin-bottom: 20px;
}

.game>div {
  border: 6px solid #2c3e50;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: 5px solid #2c3e50;
  background-color: #34495e;
  color: white;
  margin-top: 0px;
  width: 100px;
  height: 50px;
}

.game > div.winner {
  background: yellow;
}

.game > div.winner > span {
  color: blue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.player-names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0cm;
  margin-right: 0cm;
  width: 600px;
  margin-bottom: 10px;
}

.player-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input[type="text"]{
  padding: 3px;
  height: 50px;
  font-size: large;
  border: none;
  width: 70%;
}
.player-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 5px;
}

.player-input > span {
  padding: 3px;
  width: 30%;
}


@media (min-width: 600px) {
  .game {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    border: 6px solid #2c3e50;
  }

  .game>div {
    border-radius: 2px;
  }
}

@media (min-width: 1024px) {
  .btn {
    cursor: pointer
  }
}